.toggle-background{
    background-image: url("../assets/imgNext/sky.png");
    width:93px;
    height:58px;
    border-radius:40px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 6rem;
    background-color: #FFDFC2;
    transition: all 0.4s ease;
}

.toggle-background-active{
    background-image: url("../assets/imgNext/sky-night.png");
    width:93px;
    height:58px;
    border-radius:40px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 6rem;
    background-color: #001738;
    transition: all 0.4s ease;
}

.toggle-mountain{
    height:58px;
    background-image: url("../assets/imgNext/bgButtonLight.png");
    background-position-y: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.4s ease;
}

.toggle-mountain-active{
    height:58px;
    background-image: url("../assets/imgNext/bgButtonDark.png");
    background-position-y: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.4s ease;
}

.toggle-circle{
    width:47.87px;
    height:47.87px;
    border-radius:100%;
    background: white;
    right: 40px;
    transition: all 0.4s ease;
}

.toggle-circle-active{
    width:47.87px;
    height:47.87px;
    border-radius:100%;
    background: white;
    right: 4px;
    transition: all 0.4s ease;
}